.register {
  border: 1px solid lightgray;
  box-shadow: 2px 4px 3px lightgray;
  padding: 10px;
  margin: 100px auto;
  background-color: aliceblue;
}
.register-form {
  border-left: 1px solid lightgray;
}
