.img1-size{
               width: 300px;
               height: 300px;
               
}
.blog-texts{
               padding: 50px;
}
.bloger-img{
               width: 70px;
               height: 70px;
               border-radius: 50%;
}