.img1-size {
    width: 280px;
    height: 300px;
    border-radius: 5px;

}

.blog-texts {
    padding: 50px;
}

.bloger-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.bloger-img-home {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.more-details {
    text-decoration: none;
}

.blog {
    border: 4px solid gray;
    width: 300px;
    height: 460px;

}