.tree2 {
  margin-top: -40px;
  background-image: url("https://i.ibb.co/2nJQZsM/pattern1.png");
  background-position: 110% 160%;
  background-repeat: no-repeat;
}
.tree2 img {
  margin-bottom: -50px;
  margin-left: 100px;
  height: 400px;
}

.tree2-info {
  margin-top: -100px;
  margin-right: -70px;
  margin-left: 70px;
}
.tree2-section {
  margin-bottom: 200px;
  margin-top: 200px;
  margin-left: 200px;
}
