.tree2 {
  background-image: url("https://i.ibb.co/2nJQZsM/pattern1.png");
  background-position: 110% 160%;
  background-repeat: no-repeat;
}
.tree2 img {
  margin-top: 60px;
  height: 600px;
}
.tree2-info {
  text-align: right;
}
