.image {
  position: relative;
  width: 100%;
}

.image__img {
  display: block;
  width: 100%;
}

.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.8s;
}

.image__overlay > * {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image__overlay:hover {
  opacity: 0.9;
}

.image__overlay:hover > * {
  transform: translateY(0px);
}

.image__title {
  font-size: 3em;
  font-weight: bold;
}
.image__description {
  font-size: 1.25em;
  margin-top: 0.25em;
}

.tree__info {
  text-align: center;
  width: 50%;
  background-image: url(https://i.ibb.co/0p7n8Hn/single-img-2.png);
  background-repeat: no-repeat;
  height: 200px;
  /* margin-left: 60px; */
  margin: 0 auto;
}
