.font-weights {
               color: green;
               font-size: 80px;
               font-weight: 700;
               position: relative;
           }
           
           .accordion-sec {
               display: grid;
               grid-template-columns: repeat(2, 1fr);
               grid-gap: 5px;
           }
           .questions{
               border-bottom: 7px solid green;
           }
           .img-faq{
               width: 550px;
               height: 300px;
           }
           /*---- responsive accordation---  */
           
           
           @media screen and (max-width:767px) {
               .accordion-sec {
                   display: grid;
                   grid-template-columns: repeat(1, 1fr);
               }
           }
           
           @media screen and (max-width:767px) {
               .accordion-sec {
                   display: grid;
                   grid-template-columns: repeat(1, 1fr);
               }
           }